@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Contactez-nous</h2>

<p>(+243) 85 557 15 86 |(+243) 82 659 59 55</p>
<p>contact@skydomtech.com</p>
<p>Copyright Skydom Technologies | www.skydomtech.com</p>
