@model Fournisseur
@{
    ViewData["Title"] = "Fournisseur";
}

<div class="w-100 card">
    <div class="card-header bg-dark-subtle ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black">Nouveau Fournisseur</h2>
            </div>
        </div>
    </div>
    <div class="card-body border-0 p-4">
        <form method="post" class="row">
            <div class="p-3">
                <div asp-validation-summary="None"></div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="NomFournisseur" class="form-control border" />
                    <label asp-for="NomFournisseur" class="m-2"></label>
                    <span asp-validation-for="NomFournisseur" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="PhoneFournisseur" class="form-control border" />
                    <label asp-for="PhoneFournisseur" class="m-2"></label>
                    <span asp-validation-for="PhoneFournisseur" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="AdresseFournisseur" class="form-control border" />
                    <label asp-for="AdresseFournisseur" class="m-2"></label>
                    <span asp-validation-for="AdresseFournisseur" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <select asp-for="DomaineActivite" id="TypeClient" class="form-select border">
                        <option disabled selected>--Selectionnez le d'activité du fournisseur--</option>
                        <option>ALIMENTATION</option>
                        <option>BOISSON</option>
                        <option>ALIMENTATION ET BOISSON</option>
                    </select>
                    <label asp-for="DomaineActivite" class="m-2"></label>
                    <span asp-validation-for="DomaineActivite" class="text-danger"></span>
                </div>
                

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Créer
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Fournisseur" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Annuler
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}

