@model ShiftTravailViewModel
@{
    ViewData["Title"] = "Shift Travail";
}
<div class="w-100 card">
    <div class="card-header bg-dark-subtle ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black">Terminer @ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body border-0 p-4">
        <form method="post" class="row">
            <input asp-for="FinShiftTravail.ShiftTravailId" hidden />

            <div class="p-3">
                <span class="badge text-bg-success rounded-pill">Encours</span>
                <div asp-validation-summary="None"></div>
                <div class="form-floating py-1 col-12">
                    <select asp-for="FinShiftTravail.AgentId" disabled class="form-select border" asp-items="Model.AgentList">
                        <option disabled selected>--Selectionnez l'agent--</option>
                    </select>
                    <label asp-for="FinShiftTravail.AgentId" class="m-2"></label>

                </div>
                <div class="form-floating py-1 col-12">
                    <select asp-for="FinShiftTravail.PosteTravailId" disabled class="form-select border" asp-items="Model.PosteTravailList">
                        <option disabled selected>--Selectionnez le poste de travail--</option>
                    </select>
                    <label asp-for="FinShiftTravail.PosteTravailId" class="m-2"></label>

                </div>
                <div class="form-floating py-1 col-12">
                    <input type="date" asp-for="FinShiftTravail.DateDebutShift" disabled class="form-control border" />
                    <label asp-for="FinShiftTravail.DateDebutShift" class="m-2"></label>

                </div>
                <div class="form-floating py-1 col-12">
                    <input type="time" asp-for="FinShiftTravail.HeureDebutShift" disabled class="form-control border" />
                    <label asp-for="FinShiftTravail.HeureDebutShift" class="m-2"></label>

                </div>
                <div class="form-floating py-1 col-12">
                    <textarea asp-for="FinShiftTravail.ObservationDebutShift" disabled class="form-control border" style="max-height:100px; min-height:100px;"></textarea>
                    <label asp-for="FinShiftTravail.ObservationDebutShift" class="m-2"></label>

                </div>
                <div class="form-floating py-1 col-12">
                    <input type="date" asp-for="FinShiftTravail.DateFinShift" class="form-control border" />
                    <label asp-for="FinShiftTravail.DateFinShift" class="m-2"></label>
                    <span asp-validation-for="FinShiftTravail.DateFinShift" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input type="time" asp-for="FinShiftTravail.HeureFinShift" class="form-control border" />
                    <label asp-for="FinShiftTravail.HeureFinShift" class="m-2"></label>
                    <span asp-validation-for="FinShiftTravail.HeureFinShift" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <textarea asp-for="FinShiftTravail.ObservationFinShift" class="form-control border" style="max-height:100px; min-height:100px;"></textarea>
                    <label asp-for="FinShiftTravail.ObservationFinShift" class="m-2"></label>
                    <span asp-validation-for="FinShiftTravail.ObservationFinShift" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-alarm-fill"></i> Terminer
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="ShiftTravail" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Annuler
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}

