@model ClientViewModel
@{
    ViewData["Title"] = "Client";
}
<div class="w-100 card">
    <div class="card-header bg-dark-subtle ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black">Mettre à jour Client</h2>
            </div>
        </div>
    </div>
    <div class="card-body border-0 p-4">
        <form method="post" class="row">
            <input asp-for="Client.ClientId" hidden />
            <div class="p-3">
                <div asp-validation-summary="None"></div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Client.NomClient" class="form-control border" />
                    <label asp-for="Client.NomClient" class="m-2"></label>
                    <span asp-validation-for="Client.NomClient" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <div class="border p-3 rounded">
                        <label asp-for="Client.SexeClient" class="form-label text-muted"></label>
                        <div class="form-check">
                            <input asp-for="Client.SexeClient" class="form-check-input" type="radio" id="SexeM" value="M">
                            <label class="form-check-label" for="SexeM">
                                Masculin
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Client.SexeClient" class="form-check-input" type="radio" id="SexeF" value="F">
                            <label class="form-check-label" for="SexeF">
                                Feminin
                            </label>
                        </div>
                        <span asp-validation-for="Client.SexeClient" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating py-1 col-12">
                    <select asp-for="Client.TypeClient" id="TypeClient" class="form-select border" disabled>
                        <option disabled selected>--Selectionnez le type de client--</option>
                        <option>NORMAL</option>
                        <option>RESIDENT</option>
                    </select>
                    <input type="hidden" asp-for="Client.TypeClient" class="form-control border" />
                    <label asp-for="Client.TypeClient" class="m-2"></label>
                    <span asp-validation-for="Client.TypeClient" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12" id="PhoneClient" style="display: none;">
                    <input asp-for="Resident.PhoneClient" class="form-control border" />
                    <label asp-for="Resident.PhoneClient" class="m-2"></label>
                    <span asp-validation-for="Resident.PhoneClient" class="text-danger"></span>
                </div>



                <div class="form-floating py-1 col-12" id="TypedocId" style="display: none;">
                    <select asp-for="Resident.TypedocId" class="form-select border">
                        <option disabled selected>--Selectionnez le type de pièce--</option>
                        <option>CARTE D'ELECTEUR</option>
                        <option>PASSEPORT</option>
                        <option>PERMIS DE CONDUIRE</option>
                    </select>
                    <label asp-for="Resident.TypedocId" class="m-2"></label>
                    <span asp-validation-for="Resident.TypedocId" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12" id="NumpieceId" style="display: none;">
                    <input asp-for="Resident.NumpieceId" class="form-control border" />
                    <label asp-for="Resident.NumpieceId" class="m-2"></label>
                    <span asp-validation-for="Resident.NumpieceId" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-pencil-square"></i> Modifier
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Client" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Annuler
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}

